<head>
  <meta charset="utf-8">
  <title>Ang-Ant</title>
  <link rel="stylesheet" href="crisis-list.component.scss">
</head>
<body>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Air Jordan XXXVI</h5>
        <p class="card-text">Модель Air Jordan XXXVI — это новое слово легендарной франшизы, воплощение силы и энергии, побудивших революцию в баскетболе.Это одна из самых легких на сегодняшний день моделей Air Jordan с минималистичным, но прочным верхом с переплетением Leno-Weave, усиленным лентой из материала TPU.Кроме того, подушка Zoom Air Strobel во всю длину, пристроченная непосредственно к верху, и подушка Zoom Air в передней части стопы обеспечивают возврат энергии и мгновенную амортизацию.Выходи на площадку с уверенностью и играй легко.</p>
        <a href="Product-list" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jordan Air 200E</h5>
        <p class="card-text">Кроссовки Jordan Air 200E, созданные для комфорта в течение всего дня, сочетают в себе высокие технологии и прочные материалы, сохраняя классический стиль Jordan. Низкопрофильный силуэт в сочетании с особой геометрией и подушкой Max Air — это стильный и универсальный вариант.</p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jordan Max Aura 3</h5>
        <p class="card-text">Jordan Max Aura 3 — это твоя часть наследия и истории Jordan. Вдохновленная богатым наследием баскетбольного бренда эта модель передает мощную энергетику игровых кроссовок и предстает в свежем дизайне на основе классических деталей.
        </p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jordan Why Not .5</h5>
        <p class="card-text">Расселл Уэстбрук удивляет своей скоростью. Кроссовки Jordan Why Not .5 раскрывают его потенциал с помощью обновленной системы амортизации, системы сцепления, а также облегающей посадки, которая позволяет ему точнее контролировать движения.Мы объединили практичный дизайн обуви для трейлраннинга с сочетанием цветов и материалов основных элементов модели Why Not?</p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jordan MA2</h5>
        <p class="card-text">Модель Jordan MA2 вдребезги разобьет твое представление о том, как должны выглядеть кроссовки. Модель из замши, высококачественной кожи и различных тканей дополнена необычными этикетками и микрографикой с технической информацией. Необработанные края пеноматериала добавляют новые штрихи к классическому образу. Невероятно комфортные кроссовки, которые легко надевать и снимать, отражают суть стиля и инноваций бренда Jordan.</p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jordan Why Not? Zer0.5</h5>
        <p class="card-text">Расселл Уэстбрук удивляет своей скоростью. За 48 минут игры он находится в воздухе максимум несколько секунд, а большую часть времени он оставляет соперников глотать пыль позади. Кроссовки Jordan Why Not? Zer0.5 раскрывают его скоростной потенциал с помощью системы сцепления, разработанной на основе данных, и эффективной системы фиксации, которая позволяет ему точнее контролировать движения. Мы объединили практичный дизайн обуви для трейлраннинга с сочетанием цветов и материалов основных элементов модели Why Not?</p>
        <a href="#" class="btn btn-primary">Заказать</a>
      </div>
    </div>
  </div>
</div>

</body>
